.stylenavbar {
  /* text-align: center; */
  background-color: #D9D9D9;
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.logo {
  margin-left: 40px;
  font-size: xx-large;
  font-weight: bold;
}

.liststyle {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-right: 40px;
  align-items: center;
  font-size: large;
}

.stylefooter {
  text-align: center;
  background-color: #B27878;
  padding: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.homestyle  {
  padding: 150px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.btnhome {
  background-color: #B27878;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.resultstyle {
  padding: 150px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}